@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Montserrat"), local("Montserrat"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "HeadingNow";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local("HeadingNow"), local("HeadingNow"), url("../fonts/HeadingNow-85Medium.woff2") format("woff2"), url("../fonts/HeadingNow-85Medium.woff") format("woff");
}
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  line-height: 120%;
}

body,
html {
  margin: 0;
  padding: 0;
  min-width: 428px;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  background-color: #10141E;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  width: 100%;
  max-width: 1170px;
  min-width: 428px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 21px 98px;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  color: #fff;
  border: none;
  background: linear-gradient(51.04deg, #0958FA 13.86%, #09FA32 93.66%);
  border-radius: 60px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in;
}
.btn:hover {
  background-size: 200%;
  -webkit-animation: background 2s infinite alternate;
          animation: background 2s infinite alternate;
  box-shadow: 0px 1px 20px rgba(255, 255, 255, 0.5);
}
.btn:active {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.section__title {
  margin-bottom: 24px;
  font-family: "HeadingNow";
  font-weight: 500;
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 28px;
  }
}
@media screen and (max-width: 576px) {
  .section__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 428px) {
  .btn {
    width: 100%;
  }
}
@-webkit-keyframes background {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}
@keyframes background {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}
@-webkit-keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.main-header {
  position: relative;
  padding-top: 24px;
  padding-bottom: 54px;
  background: linear-gradient(180deg, rgba(16, 20, 30, 0) 64.06%, rgba(16, 20, 30, 0.512821) 89.58%, #10141E 100%), url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  z-index: 1;
}
.main-header__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px 14px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  z-index: 1;
}
.main-header .logo {
  margin-right: auto;
}
.main-header__top {
  margin-bottom: 72px;
}

.main-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-right: 32px;
  max-width: 412px;
}
.main-nav__link {
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.main-nav__link:hover {
  color: #0EF0A8;
}

.user-navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.user-navigation__btn {
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 1px solid;
  background-color: transparent;
  cursor: pointer;
  -o-border-image: linear-gradient(25deg, #0958FA, #0EF0A8) 1;
     border-image: linear-gradient(25deg, #0958FA, #0EF0A8) 1;
}
.user-navigation__btn:hover {
  background: linear-gradient(25deg, #0958FA, #0EF0A8);
}
.user-navigation__btn_help {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5px 4px;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.user-navigation__btn_help::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #EB5757;
  border-radius: 50%;
}

.intro__title {
  margin-bottom: 8px;
  width: 483px;
  font-family: "HeadingNow";
  font-weight: 500;
  font-size: 80px;
  line-height: 120%;
}

.intro__subtitle {
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  background-color: rgba(0, 0, 0, 0.4);
}

.intro__text {
  width: 373px;
  margin-bottom: 60px;
  line-height: 140%;
}

@media screen and (max-width: 992px) {
  .main-nav {
    -moz-column-gap: 26px;
         column-gap: 26px;
    margin-right: 26px;
  }
}
@media screen and (max-width: 768px) {
  .main-header {
    padding-bottom: 25px;
    background-position: center left 90%;
  }
  .main-nav {
    display: none;
  }
  .intro__title {
    margin-bottom: 16px;
    max-width: 404px;
    font-size: 72px;
    font-weight: 500;
  }
  .intro__subtitle {
    margin-bottom: 16px;
    font-size: 18px;
  }
  .intro__text {
    margin-bottom: 32px;
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .main-header {
    padding-top: 16px;
    padding-bottom: 30px;
    background-position: top right 10%;
    background-size: 200%;
  }
  .main-header__top {
    margin-bottom: 250px;
  }
}
@media screen and (max-width: 428px) {
  .main-header {
    min-width: 428px;
    background-size: 215%;
    background-position: right 10% top;
  }
  .main-header .container {
    padding: 0;
    width: 100%;
  }
  .intro {
    padding: 0 20px;
  }
  .intro__title {
    max-width: 100%;
    width: 100%;
  }
  .intro__text {
    width: 100%;
  }
}
.features {
  padding-top: 75px;
  padding-bottom: 50px;
}
.features__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 40px;
}
.features__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.features__element {
  display: flex;
  align-items: center;
  max-width: 30%;
}
.features__decor {
  font-family: "HeadingNow";
  font-size: 90px;
  font-weight: 500;
  line-height: 118px;
  background: linear-gradient(180deg, #FFFFFF 22.22%, rgba(255, 255, 255, 0) 80.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.features__text {
  margin-left: 8px;
  font-size: 16px;
  line-height: 140%;
}
.features__warning {
  position: relative;
  width: 509px;
  padding: 16px 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}
.features__warning::before {
  position: absolute;
  top: 50%;
  left: 20px;
  content: "!";
  font-size: 37px;
  font-weight: 700;
  transform: translate3d(0, -50%, 0);
}
.features__warning::after {
  position: absolute;
  top: 50%;
  right: 20px;
  content: "!";
  font-size: 37px;
  font-weight: 700;
  transform: translate3d(0, -50%, 0);
}

@media screen and (max-width: 992px) {
  .features__list {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .features__text {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .features {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .features__list {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .features__element {
    max-width: 244px;
  }
  .features__warning {
    width: 100%;
    max-width: 509px;
  }
}
@media screen and (max-width: 576px) {
  .features__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    -moz-column-gap: 0;
         column-gap: 0;
  }
  .features__decor {
    width: 72px;
    flex-shrink: 0;
  }
  .features__element {
    max-width: 100%;
  }
  .features__text {
    font-size: 16px;
  }
  .features__warning {
    padding-right: 36px;
    padding-left: 36px;
    font-size: 16px;
  }
}
.about {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about__body {
  padding: 32px 40px;
  background: linear-gradient(51.04deg, rgba(9, 88, 250, 0.05) 13.86%, rgba(9, 250, 50, 0.05) 93.66%);
  border-radius: 40px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 40px;
  flex-wrap: wrap;
}
.about__item {
  max-width: 31.5%;
}
.about__img {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 20px;
}
.about__title {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
}
.about__text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
  .about {
    padding: 30px 0;
  }
  .about__wrapper {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .about__body {
    padding: 24px 20px;
  }
  .about__item {
    max-width: 48%;
  }
}
@media screen and (max-width: 578px) {
  .about__item {
    max-width: 100%;
  }
}
.example {
  padding: 50px 0;
}

.example__examples {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 32px;
  margin-bottom: 32px;
}

.example__element {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 48.5%;
  padding: 24px;
  background-color: #000;
  border-radius: 20px;
}
.example__element:nth-child(1) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.2) 57.81%, rgba(0, 0, 0, 0.7) 74.48%, #000000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%), url("../img/man.jpg");
  background-position: center right -45px, center;
  background-size: cover;
  background-repeat: no-repeat;
}
.example__element:nth-child(2) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.2) 57.81%, rgba(0, 0, 0, 0.7) 74.48%, #000000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%), url("../img/women-1.jpg");
  background-position: center right -45px, center;
  background-size: cover;
  background-repeat: no-repeat;
}
.example__element:nth-child(3) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.2) 57.81%, rgba(0, 0, 0, 0.7) 74.48%, #000000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%), url("../img/women-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.example__element:nth-child(4) {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 29.69%, rgba(0, 0, 0, 0.2) 57.81%, rgba(0, 0, 0, 0.7) 74.48%, #000000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.9) 53.12%, rgba(0, 0, 0, 0) 72.92%), url("../img/child.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.example__title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.example-track {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
}
.example-track__track {
  position: relative;
}
.example-track__track::before {
  position: absolute;
  top: 0;
  z-index: 0;
  content: "";
  display: block;
  width: 0;
  height: 30px;
  background: linear-gradient(0deg, #0958FA, #0EF0A8);
}

.example-track__item_active .example-track__track:before {
  -webkit-animation: fill 20s forwards;
          animation: fill 20s forwards;
}

.example-track__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(51.04deg, #0958FA 13.86%, #09FA32 93.66%);
  cursor: pointer;
}

.example-track__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 8px;
       column-gap: 8px;
  padding: 6px 8px;
  max-width: 257px;
  background: rgba(255, 255, 255, 0.12);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 24px;
}
.example-track__item_biggest {
  padding: 16px 14px;
  flex-direction: column;
  align-items: flex-start;
  max-width: 287px;
}
.example-track__item_biggest .example__title {
  margin-bottom: 16px;
}
.example-track__item_biggest .example-track__item {
  width: 100%;
}

.benefits {
  padding: 21px 24px;
  margin-bottom: 32px;
  background: linear-gradient(51.04deg, rgba(9, 88, 250, 0.05) 13.86%, rgba(9, 250, 50, 0.05) 93.66%);
  border-radius: 20px;
}
.benefits__head {
  margin-bottom: 19px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.benefits__title {
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
}
.benefits__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits__element {
  position: relative;
  width: 100%;
  max-width: 48%;
  padding-left: 15px;
}
.benefits__element::before {
  position: absolute;
  top: 5px;
  left: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #0B96D9;
  border-radius: 50%;
}

.price {
  padding: 24px 28px;
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
}
.price__table {
  width: 100%;
}
.price__title {
  margin: 0 auto;
  font-family: "HeadingNow";
  font-size: 32px;
  font-weight: 500;
}
.price__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.price__head {
  display: flex;
}
.price__btn {
  margin: 0 auto;
}
.price__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 16px;
}
.price__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 120px;
  height: 50px;
  background: #000000;
  border-radius: 10px;
}
.price__item input {
  display: none;
}
.price__item:not(:empty) {
  cursor: pointer;
}
.price__item:empty {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.price__item p {
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.5);
}
.price__item b {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
}
.price__item_active {
  box-shadow: 1px 1px 0px 0px #0EF0A8 inset, 0px 0px 1px 1px #0958FA inset;
}
.price__item_info {
  align-items: flex-start;
  width: 204px;
  height: 67px;
  padding: 8px 12px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 120%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  text-decoration: none;
}
.price__item_info b {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  font-style: normal;
}

@media screen and (max-width: 840px) {
  .price__title {
    width: 33%;
    text-align: center;
  }
  .price__header {
    width: 19%;
  }
}
@media screen and (max-width: 768px) {
  .example {
    padding: 30px 0;
  }
  .example__elements {
    flex-direction: column;
  }
  .example__element {
    max-width: 100%;
  }
  .price {
    padding: 21px 18px;
  }
  .price__item_info {
    height: auto;
  }
  .price__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 576px) {
  .benefits__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .benefits__element {
    max-width: 100%;
  }
  .price {
    padding: 16px 10px;
  }
  .price__col {
    margin-bottom: 6px;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  .price__item_info {
    padding: 4px 8px;
    max-width: 99px;
    font-size: 12px;
  }
  .price__item p {
    font-size: 10px;
  }
  .price__item b {
    font-size: 12px;
  }
  .price__title {
    width: 114px;
    text-align: center;
    font-size: 18px;
  }
  .price__header {
    font-size: 12px;
  }
  .price__btn {
    padding: 21px;
    width: 100%;
    max-width: 375px;
  }
}
.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: space-between;
}

.reviews__col {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  flex-grow: 1;
  width: 100%;
}

.reviews__element {
  position: relative;
  display: flex;
  max-width: 328px;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}

.reviews__col:nth-child(1) .reviews__element:nth-child(1) {
  transform: rotate(-1deg);
}
.reviews__col:nth-child(1) .reviews__element:nth-child(2) {
  transform: rotate(1deg);
}
.reviews__col:nth-child(1) .reviews__element:nth-child(4) {
  transform: rotate(-1deg);
}
.reviews__col:nth-child(1) .reviews__element:nth-child(4) .reviews__avatar {
  top: auto;
  bottom: -5px;
}
.reviews__col:nth-child(2) .reviews__element:nth-child(1) {
  transform: rotate(0);
}
.reviews__col:nth-child(2) .reviews__element:nth-child(2) {
  transform: rotate(-1deg);
}
.reviews__col:nth-child(2) .reviews__element:nth-child(3) {
  transform: rotate(1deg);
}
.reviews__col:nth-child(2) .reviews__element:nth-child(4) {
  transform: rotate(0);
}
.reviews__col:nth-child(2) .reviews__element:nth-child(4) .reviews__avatar {
  top: auto;
  bottom: -5px;
}
.reviews__col:nth-child(3) .reviews__element .reviews__text {
  padding-left: 44px;
  padding-right: 14px;
}
.reviews__col:nth-child(3) .reviews__element:nth-child(1) {
  transform: rotate(1deg);
}
.reviews__col:nth-child(3) .reviews__element:nth-child(1) .reviews__avatar {
  top: auto;
  right: auto;
  left: -5px;
  bottom: -5px;
}
.reviews__col:nth-child(3) .reviews__element:nth-child(2) {
  transform: rotate(0);
}
.reviews__col:nth-child(3) .reviews__element:nth-child(2) .reviews__avatar {
  top: 23px;
  right: auto;
  left: -5px;
}
.reviews__col:nth-child(3) .reviews__element:nth-child(3) {
  transform: rotate(-1deg);
}
.reviews__col:nth-child(3) .reviews__element:nth-child(3) .reviews__avatar {
  top: -5px;
  right: auto;
  left: -5px;
}
.reviews__col:nth-child(3) .reviews__element:nth-child(4) {
  transform: rotate(1deg);
}
.reviews__col:nth-child(3) .reviews__element:nth-child(4) .reviews__avatar {
  top: 0;
  right: auto;
  left: -5px;
}

.reviews__text {
  padding: 14px 29px 14px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.reviews__avatar {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 44px;
  height: 44px;
}
.reviews__avatar img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .reviews {
    padding: 30px 0;
  }
  .reviews__wrapper {
    row-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .reviews__col {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .reviews__element {
    max-width: 48%;
  }
}
@media screen and (max-width: 578px) {
  .reviews__element {
    max-width: 100%;
  }
  .reviews__col {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.faq {
  padding-top: 50px;
  padding-bottom: 50px;
}
.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.faq__list_inner {
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 8px;
}
.faq__list_inner .faq__text {
  position: relative;
  padding-left: 16px;
}
.faq__list_inner .faq__text::before {
  position: absolute;
  top: 3px;
  left: 0;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #0B96D9;
  border-radius: 50%;
}
.faq__list_red .faq__text::before {
  background-color: #DF0E3A;
}
.faq__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.faq__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
}
.faq__text {
  margin: 0;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
}
.faq__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #1286FC;
}
.faq__link:hover {
  color: #0EF0A8;
}

@media screen and (max-width: 768px) {
  .faq {
    padding: 30px 0;
  }
}
.feedback {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.feedback__col {
  display: flex;
  flex-direction: column;
  max-width: 48%;
}
.feedback__col img {
  display: block;
  margin-top: auto;
  width: 100%;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 392px;
  padding: 24px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(32px);
          backdrop-filter: blur(32px);
  border-radius: 20px;
}
.feedback__element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  width: 100%;
}
.feedback__title {
  margin-bottom: 4px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
  background: #1C1B1F;
}
.feedback__input {
  display: block;
  width: 100%;
  padding: 4px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
.feedback__input:focus, .feedback__input:active {
  background-color: #fff;
  color: #1C1B1F;
}
.feedback__btn {
  padding: 21px 120px;
  margin-top: 27px;
}

@media screen and (max-width: 855px) {
  .feedback__col:nth-child(2) {
    max-width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .feedback__col:nth-child(2) {
    display: none;
  }
  .feedback {
    padding-bottom: 40px;
    justify-content: center;
  }
  .feedback__col {
    max-width: 70%;
  }
  .feedback__form {
    min-width: 387px;
  }
  .feedback__btn {
    width: 100%;
  }
}
@media screen and (max-width: 578px) {
  .feedback__col {
    max-width: 100%;
  }
}
.footer {
  padding-top: 40px;
  padding-bottom: 53px;
  background: rgba(0, 0, 0, 0.5);
}
.footer__logo {
  width: 68px;
  height: 22px;
}
.footer__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer__box {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  padding-top: 5px;
}
.footer__nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.footer__link {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in;
}
.footer__link:hover {
  color: #0EF0A8;
}

.social {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social__link {
  display: block;
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.policy__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: rgba(238, 238, 238, 0.363);
  transition: color 0.2s ease-in;
}
.policy__link:hover {
  color: #fff;
}

@media screen and (max-width: 992px) {
  .footer__nav {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__nav {
    flex-wrap: wrap;
    row-gap: 32px;
  }
  .footer__box {
    max-width: 210px;
    padding-top: 0;
    margin-bottom: 40px;
    row-gap: 36px;
  }
  .policy {
    align-items: flex-start;
    row-gap: 24px;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */