* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p {
  margin: 0;
  line-height: 120%;
}

body,
html {
  margin: 0;
  padding: 0;
  min-width: 428px;

  font-family: "Montserrat";
  font-size: 14px;

  font-weight: 400;
  line-height: 120%;

  color: #fff;
  background-color: #10141E;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  width: 100%;
  max-width: 1170px;
  min-width: 428px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  display: block;
  padding: 21px 98px;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  color: #fff;
  border: none;
  background: linear-gradient(51.04deg, #0958FA 13.86%, #09FA32 93.66%);
  border-radius: 60px;
  cursor: pointer;
  transition: box-shadow .1s ease-in;
  &:hover {
    background-size: 200%;
    animation: background 2s infinite alternate;
    box-shadow: 0px 1px 20px rgba(255, 255, 255, 0.5);
  }
  &:active {
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

.section__title {
  margin-bottom: 24px;
  font-family: "HeadingNow";
  font-weight: 500;
  font-size: 32px;
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .section__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 428px) {
  .btn {
    width: 100%;
  }
}