.faq {
  padding-top: 50px;
  padding-bottom: 50px;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    &_inner {
      margin: 0;
      padding: 0;
      list-style: none;
      row-gap: 8px;

      .faq__text {
        position: relative;
        padding-left: 16px;

        &::before {
          position: absolute;
          top: 3px;
          left: 0;
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          background-color: #0B96D9;
          border-radius: 50%;
        }
      }
    }

    &_red {
      .faq__text {
        &::before {
          background-color: #DF0E3A;
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #1286FC;
    &:hover {
      color: #0EF0A8;
    }
  }
}

@media screen and (max-width: 768px) {
  .faq {
    padding: 30px 0;
  }
}