.footer {
  padding-top: 40px;
  padding-bottom: 53px;
  background: rgba(0, 0, 0, 0.5);

  &__logo {
    width: 68px;
    height: 22px;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    padding-top: 5px;
  }

  &__nav {
    display: flex;
    align-items: center;
    column-gap: 32px;
  }

  &__link {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    transition: color .2s ease-in;
    &:hover {
      color: #0EF0A8;
    }
  }
}

.social {
  display: flex;
  column-gap: 12px;
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    display: block;
  }
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;

  &__link {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: rgba(238, 238, 238, 0.363);
    transition: color .2s ease-in;
    &:hover {
      color: #fff;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    &__nav {
      column-gap: 24px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__nav {
    flex-wrap: wrap;
    row-gap: 32px;
  }
  .footer__box {
    max-width: 210px;
    padding-top: 0;
    margin-bottom: 40px;
    row-gap: 36px;
  }
  .policy {
    align-items: flex-start;
    row-gap: 24px;
    flex-direction: column;
  }
}