.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reviews__wrapper {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
}

.reviews__col {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  flex-grow: 1;
  width: 100%;
}

.reviews__element {
  position: relative;
  display: flex;
  max-width: 328px;
  background-color: #fff;
  border-radius: 20px;
  color: #000;
}

.reviews__col {
  &:nth-child(1) {
    .reviews__element {
      &:nth-child(1) {
        transform: rotate(-1deg);
      }
      &:nth-child(2) {
        transform: rotate(1deg);
      }
      &:nth-child(4) {
        transform: rotate(-1deg);
        .reviews__avatar {
          top: auto;
          bottom: -5px;
        }
      }
    }
  }

  &:nth-child(2) {
    .reviews__element {
      &:nth-child(1) {
        transform: rotate(0);
      }
      &:nth-child(2) {
        transform: rotate(-1deg);
      }
      &:nth-child(3) {
        transform: rotate(1deg);
      }
      &:nth-child(4) {
        transform: rotate(0);
        .reviews__avatar {
          top: auto;
          bottom: -5px;
        }
      }
    }
  }

  &:nth-child(3) {
    .reviews__element {
      .reviews__text {
        padding-left: 44px;
        padding-right: 14px;
      }
      &:nth-child(1) {
        transform: rotate(1deg);
        .reviews__avatar {
          top: auto;
          right: auto;
          left: -5px;
          bottom: -5px;
        }
      }
      &:nth-child(2) {
        transform: rotate(0);
        .reviews__avatar {
          top: 23px;
          right: auto;
          left: -5px;
        }
      }
      &:nth-child(3) {
        transform: rotate(-1deg);
        .reviews__avatar {
          top: -5px;
          right: auto;
          left: -5px;
        }
      }
      &:nth-child(4) {
        transform: rotate(1deg);
        .reviews__avatar {
          top: 0;
          right: auto;
          left: -5px;
        }
      }
    }
  }
}

.reviews__text {
  padding: 14px 29px 14px 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.reviews__avatar {
  position: absolute;
  top: -7px;
  right: -7px;
  width: 44px;
  height: 44px;

  img {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .reviews {
    padding: 30px 0;
    &__wrapper {
      row-gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__col {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
    &__element {
      max-width: 48%;
    }
  }
}

@media screen and (max-width: 578px) {
  .reviews__element {
    max-width: 100%;
  }
  .reviews__col {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}